<extend name = "Common/loyout"/>
<block name="content">
    <div class="aw-content-wrap">
        <form enctype="multipart/form-data"
              method="post" id="category_form" onsubmit="return isValiData()"
              action="{:U('Admin/Category/add')}">
            <input type="hidden" value="1" name="category_id">
            <div class="mod">
                <div class="mod-head">
                    <h3>
                        <span class="pull-left">分类编辑</span>
                    </h3>
                </div>
                <div class="tab-content mod-content">
                    <table class="table table-striped">
                        <tbody><tr>
                            <td>
                                <div class="form-group">
                                    <span class="col-sm-4 col-xs-3 control-label">分类标题:</span>
                                    <div class="col-sm-5 col-xs-8">
                                        <input type="text" value="默认分类" name="cat_name" class="form-control">
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-group">
                                    <span class="col-sm-4 col-xs-3 control-label">父级分类:</span>
                                    <div class="col-sm-5 col-xs-8">
                                        <select class="form-control" name="parent_id">
                                            <volist name = "cat_list" id = "row">
                                                <option value="{$row['cat_id']}">{$row['cat_name']}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <span class="col-sm-4 col-xs-3 control-label">分类图标:</span>
                                    <div class="col-sm-5 col-xs-8">
                                        <input type = 'file' name = 'photo'>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody><tfoot>
                    <tr>
                        <td>
                            <input type="submit"  class="btn btn-primary center-block" value="添加分类">
                        </td>
                    </tr>
                    </tfoot>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <script>
        function isValiData() {
//        var title = $(':text').val();
//        if(title == ''){
//            alert('分类标题不能为空');
//            return false;
//        }
            return true;
        }

    </script>
</block>